.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgb(50, 50, 50, 0.8);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    img {
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 100%;
    }

    span {
        margin-left: 16px;
        font-size: 32px;
    }
}

.player-active {
    background-color: orange !important;
}