.field {
    width: 100%;
    height: 100vh;
    background-image: url('~src/assets/img/board.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.card-stack {
    position: relative;
    margin-bottom: 24px;
    img {
        position: absolute;
        width: 120px;

        @media (max-width: 340px) {
            width: 100px;
            margin-right: 12px;
        }
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.played-card {
    right: 25px;
    transform: scale(1.3) translateX(150px) translateY(-180px) rotate(-10deg);

    @media (max-width: 1000px) and (min-width: 720px) {
        transform: scale(1.3) translateX(-70px) translateY(-180px) rotate(-10deg);
    }

    @media (max-width: 720px) {
        transform: scale(1.3) translateX(120px) translateY(-150px) rotate(-10deg);
    }
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.3) translateX(150px) translateY(-180px) rotate(-10deg);

    @media (max-width: 1000px) and (min-width: 720px) {
        animation: pick-card-animation-left 1s ease-in-out;
        transform: scale(1.3) translateX(-70px) translateY(-180px) rotate(-10deg);
    }

    @media (max-width: 720px) {
        animation: pick-card-animation-responsive 1s ease-in-out;
        transform: scale(1.3) translateX(120px) translateY(-150px) rotate(-10deg);
    }
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.7);
    }
    60% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.3) translateX(150px) translateY(-180px) rotate(-10deg);
    }
}

@keyframes pick-card-animation-left {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.7);
    }
    60% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.3) translateX(-70px) translateY(-180px) rotate(-10deg);
    }
}

@keyframes pick-card-animation-responsive {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.4);
    }
    60% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1.3) translateX(120px) translateY(-150px) rotate(-10deg);
    }
}



.player-position {
    position: absolute;
    right: 0;
    z-index: 1;
}

.scroll-ctn {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    overflow-x: auto;

    app-player-mobile {
        margin-left: 8px;
    }
}

.preload-image {
    opacity: 0;
    z-index: -99999;
}

.game-over {
    img {
        object-position: 42%;
        width: 100%;
        object-fit: cover;
        height: 100vh;
    }
}

.relative {
    position: relative;
    width: 100%;
}

.btn-add {
    position: absolute;
    bottom: 0;
    margin-bottom: auto;
    top: 0;
    margin-top: auto;
    right: -73px;

    @media (max-width: 720px) {
        right: 20px;
    }
}

mat-card {
    height: 90px;
}

app-game-info {
    width: 90%;
}

.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    @media (max-width: 720px) {
        left: 0;
        right: 0;
        bottom: 0;
    }
}

app-player, app-player-mobile {
    cursor: pointer;

    &:hover {
        filter: brightness(1.15);
    }
}